<?xml version="1.0"?>
<config>
    <modules>
        <Ipagare_IpgPagSeguroDireto>    
            <version>1.1.3</version>
        </Ipagare_IpgPagSeguroDireto>
    </modules>

    <global>
        <models>
            <ipgpagsegurodireto>
                <class>Ipagare_IpgPagSeguroDireto_Model</class>
                <resourceModel>ipgpagsegurodireto_mysql4</resourceModel>
            </ipgpagsegurodireto>
            <ipgpagsegurodireto_mysql4>
                <class>Ipagare_IpgPagSeguroDireto_Model_Mysql4</class>
                <entities>
                    <entity_payment>
                        <table>ipagare_pagsegurodireto_pagamento</table>
                    </entity_payment>
                    <entity_sonda>
                        <table>ipagare_pagsegurodireto_sonda</table>
                    </entity_sonda>
                    <entity_erro>
                        <table>ipagare_pagsegurodireto_erro</table>
                    </entity_erro>
                </entities>
            </ipgpagsegurodireto_mysql4>
        </models>
        
        <helpers>
            <ipgpagsegurodireto>
                <class>Ipagare_IpgPagSeguroDireto_Helper</class>
            </ipgpagsegurodireto>
        </helpers>

        <blocks>
            <ipgpagsegurodireto>
                <class>Ipagare_IpgPagSeguroDireto_Block</class>
            </ipgpagsegurodireto>
            
            <checkout>
                <rewrite>
                    <onepage_success>Ipagare_IpgPagSeguroDireto_Block_Checkout_Onepage_Success</onepage_success>
                </rewrite>
            </checkout>
        </blocks>
        
        <sales>
            <quote>
                <totals>
                    <discount-ipgpagsegurodireto>
                        <class>ipgpagsegurodireto/sales_quote_address_total_discount</class>
                        <after>grand_total</after>
                    </discount-ipgpagsegurodireto>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <discount-ipgpagsegurodireto>
                        <class>ipgpagsegurodireto/sales_order_invoice_total_discount</class>
                        <after>grand_total</after>
                    </discount-ipgpagsegurodireto>
                </totals>
            </order_invoice>
        </sales>
        <fieldsets>
            <sales_convert_quote_address>
                <ipg_pagsegurodireto_discount_amount>
                    <to_order>*</to_order>
                </ipg_pagsegurodireto_discount_amount>
                <ipg_pagsegurodireto_base_discount_amount>
                    <to_order>*</to_order>
                </ipg_pagsegurodireto_base_discount_amount>
            </sales_convert_quote_address>
        </fieldsets>
        
        <resources>
            <ipgpagsegurodireto_setup>
                <setup>
                    <module>Ipagare_IpgPagSeguroDireto</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ipgpagsegurodireto_setup>
        </resources>
    </global>

    <frontend>
        <secure_url>
            <ipgpagsegurodireto>/ipgpagsegurodireto</ipgpagsegurodireto>
        </secure_url>
        <routers>
            <ipgpagsegurodireto>
                <use>standard</use>
                <args>
                    <module>Ipagare_IpgPagSeguroDireto</module>
                    <frontName>ipgpagsegurodireto</frontName>
                    <modules>
                        <Ipagare_IpgPagSeguroDireto before="Mage_Checkout">Ipagare_IpgPagSeguroDireto</Ipagare_IpgPagSeguroDireto>
                    </modules>
                </args>
            </ipgpagsegurodireto>
        </routers>
        <layout>
            <updates>
                <ipgpagsegurodireto>
                    <file>ipagare/ipgpagsegurodireto.xml</file>
                </ipgpagsegurodireto>
            </updates>
        </layout>
        <translate>
            <modules>
                <Ipagare_IpgPagSeguroDireto>
                    <files>
                        <default>Ipagare_IpgPagSeguroDireto.csv</default>
                    </files>
                </Ipagare_IpgPagSeguroDireto>
            </modules>
        </translate>
        <events>
            <!--
            <controller_front_init_before>
                <observers>
                    <ipgpagsegurodireto>
                        <type>singleton</type>
                        <class>ipgpagsegurodireto/observer</class>
                        <method>loadLibrary</method>
                    </ipgpagsegurodireto>
                </observers>
            </controller_front_init_before>
            -->
            <ipgpagsegurodireto_process_success>
                <observers>
                    <ipgpagsegurodireto_process_success>
                        <class>ipgpagsegurodireto/observer</class>
                        <method>processSuccess</method>
                    </ipgpagsegurodireto_process_success>
                </observers>
            </ipgpagsegurodireto_process_success>
            <ipgpagsegurodireto_process_cancel>
                <observers>
                    <ipgpagsegurodireto_process_cancel>
                        <class>ipgpagsegurodireto/observer</class>
                        <method>processCancel</method>
                    </ipgpagsegurodireto_process_cancel>
                </observers>
            </ipgpagsegurodireto_process_cancel>
            <ipgpagsegurodireto_send_new_order_email>
                <observers>
                    <ipgpagsegurodireto_send_new_order_email>
                        <class>ipgpagsegurodireto/observer</class>
                        <method>sendNewOrderEmail</method>
                    </ipgpagsegurodireto_send_new_order_email>
                </observers>
            </ipgpagsegurodireto_send_new_order_email>
        </events>
    </frontend>
    
    <admin>
        <routers>
            <ipgpagsegurodireto>
                <use>admin</use>
                <args>
                    <module>Ipagare_IpgPagSeguroDireto</module>
                    <frontName>ipgpagsegurodireto</frontName>
                </args>
            </ipgpagsegurodireto>
        </routers>
    </admin>
    
    <adminhtml>
        <layout>
            <updates>
                <ipgpagsegurodireto module='ipgpagsegurodireto'>
                    <file>ipagare/ipgpagsegurodireto.xml</file>
                </ipgpagsegurodireto>
            </updates>
        </layout>
    </adminhtml>
    
    <default>
        <sales>
            <totals_sort>
                <discount-ipgpagsegurodireto>26</discount-ipgpagsegurodireto>
            </totals_sort>
        </sales>
        <adminhtml>
            <sales>
                <totals_sort>
                    <discount-ipgpagsegurodireto>26</discount-ipgpagsegurodireto>
                </totals_sort>
            </sales>    
        </adminhtml>
        <payment>
            <ipgpagsegurodireto>
                <active>1</active>
                <model>ipgpagsegurodireto/IpgPagSeguroDireto</model>
                <title>Pagamento Online com PagSeguro</title>
                <allowspecific>0</allowspecific>
            </ipgpagsegurodireto>
        </payment>
        <ipgpagsegurodireto>
            <geral>
                <invoice>1</invoice>
                <cancel_order>1</cancel_order>
                <custom_css>0</custom_css>
            </geral>
            <cartao>
                <valor_minimo>0,01</valor_minimo>
            </cartao>
            <debito>
                <valor_minimo>0,01</valor_minimo>
            </debito>
            <boleto>
                <valor_minimo>0,01</valor_minimo>
            </boleto>
            <environment>
                
            </environment>
        </ipgpagsegurodireto>
    </default>
    
    <crontab>
        <jobs>
            <ipagare_ipgpagsegurodireto_status_payment>
                <schedule>
                    <cron_expr>*/30 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>ipgpagsegurodireto/observer::paymentSonda</model>
                </run>
            </ipagare_ipgpagsegurodireto_status_payment>
        </jobs>
    </crontab>
</config>